/* Fixed Save Button */
.fixed-save-button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Background color to ensure it stands out */
    padding: 10px 20px;
    display: flex;
    justify-content: end;
  }
  
  .btn-save {
    background-color: #CA001D;
    color: #fff;
    border-radius: 7px;
    width: 20%;
    text-align: center;
  }
  
  .agent-navbar {
    align-items: center;
    height: 82px;
    box-shadow: 0 4px 6px #0000001a;
    position: fixed;
    top: 4px;
    left: 225px;
    z-index: 1000;
    width: 76%;
    flex-shrink: 0;
  }
  
  .agent-container {
    /* padding-top: 80px; */
      font-size: 16px;
     /*  height: calc(100vh - 110px); Adjust according to the height of the navbar */
      overflow-y: auto; 
      display: flex;
      flex-direction: column;
      width: 90%;
  }
  
  .agentform {
    flex-grow: 1; /* Takes up all remaining space between navbar and save button */
    overflow-y: auto; /* Makes the form scrollable */
    padding: 0 15px; /* Optional padding for better UI */
  }
  
  
  .form-scroll-container {
    overflow-y: auto; /* Enable vertical scrolling */
    flex-grow: 1; /* Take available space between navbar and button */
    padding: 1rem; /* Add some padding around the form */
  }


  @media screen and (max-width: 768px) {
    .agent-container {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      /* height: calc(100vh - 110px); */
      overflow-y: auto;
      /* padding-top: 86px; */
      width: 100%;
  }
  
  .agent-navbar {
    align-items: center;
    box-shadow: 0 4px 6px #0000001a;
    flex-shrink: 0;
    height: 74px;
    left: 7px;
    position: fixed;
    top: -13px;
    width: 96%;
    z-index: 1000;
}

/* .agentform {
  padding: 0px;
} */

/* .form-scroll-container {
  padding: 0px; 
} */
  
  }