 
.accordion-content {
    padding: 15px;
    background: #fff;
  }
  
  .accordion-title.enabled {
  background-color:#ca001d; 
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  }
  
  .accordion-title.disabled {
  background-color: #00000029;
  color: black; 
  cursor: not-allowed;
  border: none;
  border-radius: 5px;
  }
  
  .accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  }
  
  .accordion-icon {
  margin-left: 8px;
  font-size: 18px;
  transition: transform 0.3s ease-in-out;
  }
  
  .disabled {
  cursor: not-allowed;
  opacity: 0.6;
  }
  
  .proposed-navbar {
  align-items: center;
  height: 80px;
  box-shadow: 0 4px 6px #0000001a;
  position: fixed;
  top: 0px;
  left: 225px;
  z-index: 1000;
  width: 76%;
  flex-shrink: 0;
  }
  
  
  /* Fixed Save Button */
  .fixed-save-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Background color to ensure it stands out */
  padding: 10px 20px;
  display: flex;
  justify-content: end;
  }
  
  .btn-save {
  background-color: #CA001D;
  color: #fff;
  border-radius: 7px;
  width: 20%;
  text-align: center;
  }
  
  .proposed-detail-container{
  /* padding-top: 70px; */
  font-size: 15px;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  }
  
  .proposedForm{
  width: 98%;
  height: calc(100vh - 168px);
  }
  
  .eappform{
  
  overflow-y: auto; 
  overflow-x: hidden;
  }

  @media screen and (max-width: 768px) {
    .proposed-navbar {
      align-items: center;
      box-shadow: 0 4px 6px #0000001a;
      flex-shrink: 0;
      height: 80px;
      left: 7px;
      position: fixed;
      top: -11px;
      width: 96%;
      z-index: 1000;
  }
  
  .proposedForm {
    /* height: calc(100vh - 170px); */
    width: 95%;
  }
  
  .proposed-detail-container {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    overflow-y: auto;
    padding-left: 15px;
    /* padding-top: 94px; */
  }
  
  }