.Image {
    height: 50vh; /* 50% of the viewport height */
    background-color: #ccc; /* Placeholder color */
}

.Customer, .FNA, .Products, .Quotation, .Application {
    background-color: #f0f0f0; /* Placeholder color */
    height: 100px; /* Adjust as needed */
    margin-top: 10px; /* Space between rows */
    border: 1px solid #ddd; /* Optional border */
    cursor: pointer;
}

.dashboard-container {
  margin-top: 49px;
}

@media (max-width: 768px) {
    .Image {
        height: 50vh;
    }
}

  .sidebar .btn:hover {
    color: white; /* Text color when hovered */
    background-color: #dc3545; /* Optional: Slightly lighter background when hovered */
  }

  .right-navbar {
    background-color: #fff;
    padding: 0 5px;
    position: fixed;
    align-items: center;
    /* border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 6px #0000001a; */
    height: 70px;
    padding: 0 5px;
    position: fixed;
    top: 20;
    left: 230px;
    z-index: 1000;
    width: 76%;
  }
 
  .right-navbar .border-bottom {
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin-top: 0.5rem;
  }
  
  .card{
    border-radius: 0.95rem;
  }

  /* Calendar container grid */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  text-align: center;
}

/* Day headers (M, T, W...) */
.calendar-day-header {
  font-weight: 400;
  color: #333;
  font-size: 0.9rem;
  /* padding: 5px 0; */
}

/* Calendar days */
.calendar-day {
  /* padding: 8px; */
  /* border-radius: 50%; */
  font-size: 0.8rem;
  /* color: #555; */
}

/* Highlight today's date */
.calendar-day.today {
  background-color: #c62828; /* Red color */
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

/* Empty days for padding */
.calendar-day.empty {
  visibility: hidden;
}

.calendar-nav-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #333;
  cursor: pointer;
  transition: color 0.2s;
  outline: none;
}

.calendar-nav-btn:hover {
  color: #c62828; /* Red highlight on hover */
}

.calendar-container{
  background-color: #fff;
  color: #333333;
}

.notificationicon {
  margin-top: 0px;
  transition: transform 0.2s ease;
}

.notificationicon:hover {
  transform: scale(1.1);
}

.profile-photo {
  transition: box-shadow 0.2s ease;
}

.profile-photo:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


  
@media screen and (max-width: 768px) {
  .right-navbar {
    background-color: #fff;
    padding: 0 5px;
    position: fixed;
    align-items: center;
    height: 62px;
    padding: 0 5px;
    position: fixed;
    top: 0px;
    left: 15px;
    z-index: 1000;
    width: 92%;
  }

  .dashboard-container {
    padding-top: 0px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .notificationicon {
    margin-top: 0px;
    transition: transform 0.2s ease;
  }

  .leadgraph{
    height: 135%;
  }
  
  } 

 

  .ios-safearea .dashboard-container {
    margin-top: 30px;
  }