 
.accordion-content {
    padding: 15px;
    background: #fff;
}

.accordion-title.enabled {
  background-color:#ca001d; 
  color: #fff;
  border: none;
  border-radius: 5px;
}

.accordion-title.disabled {
  background-color: #00000029;
  color: black; 
  cursor: not-allowed;
  border: none;
  border-radius: 5px;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.accordion-icon {
  margin-left: 8px;
  font-size: 18px;
  transition: transform 0.3s ease-in-out;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.sqs-navbar {
  align-items: center;
  height: 116px;
  box-shadow: 0 4px 6px #0000001a;
  position: fixed;
  top: 0px;
  left: 225px;
  z-index: 1000;
  width: 76%;
  flex-shrink: 0;
}


/* Fixed Save Button */
.fixed-save-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Background color to ensure it stands out */
  padding: 10px 20px;
  display: flex;
  justify-content: end;
}

.btn-save {
  background-color: #CA001D;
  color: #fff;
  border-radius: 7px;
  width: 20%;
  text-align: center;
}

.sqs-personal-detail-container{
  height: calc(100vh - 168px);
  /* padding-top: 75px; */
  font-size: 15px;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  /* padding-left: 50px; */
}

.quotationForm{
  width: 100%;
  /* height: calc(100vh - 153px); */
  overflow-y: auto; 
  padding: 0 15px;
  overflow-x: hidden;
}

.quoteform{
  /* height: calc(100vh - 110px); */
  overflow-y: auto; 
  overflow-x: hidden;
}


@media screen and (max-width: 768px) {
  .sqs-navbar {
    align-items: center;
    box-shadow: 0 4px 6px #0000001a;
    flex-shrink: 0;
    height: 108px;
    left: 6px;
    position: fixed;
    top: -15px;
    width: 97%;
    z-index: 1000;
}

.sqs-personal-detail-container{
  /* padding-top: 105px; */
  font-size: 15px;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

.quotationForm{
  width: 100%;
  /* height: calc(100vh - 160px); */
  overflow-y: auto; 
  overflow-x: hidden;
}

.fixednextprevbutton {
  transition: opacity 0.3s ease-in-out;
}
.fixednextprevbutton.hidden {
  opacity: 0;
  pointer-events: none;
}


  

  } 

  .ios-safearea .sqs-personal-detail-container{
    height: calc(100vh - 245px);
  }